<div class="p-3 d-flex flex-column cart-body">
  <div class="d-flex align-items-center" *ngFor="let cartItem of cartItems">
    <div
      [ngStyle]="{
        'background-image': 'url(' + cartItem.image + ')'
      }"
      class="mr-2 rounded cart-image"
    ></div>
    <div class="d-flex flex-column p-3 flex-grow-1">
      <span class="font-weight-bold">{{ cartItem.title }}</span>
      <span class="text-muted">{{ cartItem.description }}</span>
    </div>
    <div class="d-flex justify-items-center align-items-center">
      <span class="p-3 mr-4 h-4 font-weight-bold">1</span>
      <button class="btn btn-primary btn-blue font-weight-bold mr-1">+</button>
      <button class="btn btn-danger font-weight-bold">-</button>
    </div>
  </div>
  <div class="border-top pt-2 px-2 d-flex">
    <span class="font-weight-bold flex-grow-1">Total</span>
    <span class="font-weight-bold">PHP 100.00</span>
  </div>
  <div class="mt-3">
    <button class="btn btn-primary btn-blue btn-block font-weight-bold">
      Checkout
    </button>
  </div>
</div>
