.card {
  margin: 10px;
  width: 250px;
  box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.item-image {
  width: 250px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
