<div class="card">
  <div
    class="item-image"
    [ngStyle]="{
      'background-image': 'url(' + product.image + ')'
    }"
  ></div>
  <div class="px-1 pb-2">
    <span
      class="badge badge-success"
      *ngFor="let discount of product.discountList"
    >
      {{ discount }}
    </span>
  </div>
  <div class="px-1 pb-2">
    <span
      class="h4 text-center font-weight-bold text-brown text-truncate d-block"
      >{{ product.title }}</span
    >
    <span class="text-center d-block">{{ product.price }}</span>
    <button
      (click)="viewProduct()"
      class="mt-3 btn-primary btn-block btn btn-blue ml-auto font-weight-bold flex-grow-1"
    >
      View Product
    </button>
  </div>
</div>
