.slide-div {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
}
