<div class="w-75 m-auto pt-4">
  <carousel>
    <slide>
      <div
        class="slide-div"
        [ngStyle]="{
          'background-image':
            'url(' +
            'https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' +
            ')'
        }"
      ></div>
    </slide>
    <slide>
      <div
        class="slide-div"
        [ngStyle]="{
          'background-image':
            'url(' +
            'https://images.pexels.com/photos/960540/pexels-photo-960540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' +
            ')'
        }"
      ></div>
    </slide>
    <slide>
      <div
        class="slide-div"
        [ngStyle]="{
          'background-image':
            'url(' +
            'https://images.pexels.com/photos/1546892/pexels-photo-1546892.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' +
            ')'
        }"
      ></div>
    </slide>
  </carousel>
</div>
<div class="d-flex w-75 m-auto pt-4 flex-wrap" id="item-list">
  <app-item-card
    *ngFor="let product of productList"
    [product]="product"
  ></app-item-card>
</div>
