.logo-object {
  background: url("../../../assets/logo.svg") no-repeat center;
  background-size: contain;
  width: 180px;
  height: 50px;
  cursor: pointer;
}

.btn-cart {
  background-color: var(--blue);
  color: var(--white);
}

.dropdown-menu {
  box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 1px 1px 19px -10px rgba(0, 0, 0, 0.9);
}
