<div class="bg-primary p-2">
  <div class="d-flex w-75 m-auto py-2 align-items-center">
    <div class="flex-grow-1">
      <div class="logo-object ml1" routerLink="/"></div>
    </div>
    <div class="d-flex align-items-center">
      <div class="btn-group" dropdown>
        <button
          dropdownToggle
          type="button"
          class="btn btn-primary btn-blue dropdown-toggle"
        >
          <span class="mr-2 font-weight-bold">cart</span>
          <fa-icon [icon]="cartLogo"></fa-icon>
        </button>
        <ul
          *dropdownMenu
          class="border-0 mt-3 dropdown-menu dropdown-menu-right"
          role="menu"
        >
          <app-cart></app-cart>
        </ul>
      </div>
    </div>
  </div>
</div>
