/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Dosis;
  src: url("./assets/fonts/Dosis-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: Dosis;
  src: url("./assets/fonts/Dosis-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

$blue: #57c9ea;
$primary: #f5f5f5;

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Dosis", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

:root {
  --brown: #8b5f3e;
}

.text-brown {
  color: var(--brown) !important;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);

  &:hover,
  &:active {
    background-color: var(--brown);
    color: var(--white);
  }
}
